<h1>title:<%= @post.title %></h1>
<h1>link:<%= @post.link %></h1>
<h1>description:<%= @post.description %></h1>
<h1>id:<%= @post.id %></h1>

<%= link_to "編集",edit_post_path(@post) %>
<%= link_to "削除",post_path(@post),method: :delete,data: {confirm:"削除してもいいですか"} %>
<%= link_to "ホーム",root_path %>

<p>--------------------------------------------------</p>
<% @ranking_posts.zip(@id_with_hash).each do |ranking_post,pv| %>
<p><%= ranking_post.title %>(<%=pv[1].floor %>PV)</p>
<% end %>


<p>--------------------------------------------------</p>
<% @ranking_posts.each do |ranking_post| %>
  <li><%= ranking_post.title%>(<%= REDIS.zscore("posts" , ranking_post.id).floor %>PV)</li>
<% end %>


<p>--------------------------------------------------</p>
<% @ranking_posts.zip(@id_with_hash) do |ranking_post,pv| %>
  <li><%= ranking_post.title%>(<%= REDIS.zscore("posts" ,pv[0]).floor %>PV)</li>
<% end %>


<p>--------------------------------------------------</p>
<% @ranking_posts.each do |ranking_post| %>
<p><%= ranking_post.title %></p>
<% end %>


<p>--------------------------------------------------</p>
<% @id_with_hash.each do |key,value| %>
<p><%=key %>:<%=value %></p>
<% end %>
